html,
body {
  background-image: url("fondo3.jpg");
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size:cover;
}

.navreg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /* Otros estilos que desees aplicar al encabezado */
}

@media screen and (max-width: 768px) {
  .navreg .navbar-brand {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.container-busc {
  display: flex;
  margin-right: 4px;
  position: relative;
  justify-content: center;
}

.container-busc label {
  margin-right: 10px;
  font-size: 25px;
  color: aliceblue
}





#table {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

.row {
  align-items: center;
  height:40vh; /* Ajusta la altura deseada o utiliza otro valor adecuado */
}

#table thead{
  padding: 0 20px;
  background: #fff;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.3);
}


#table tbody {
  padding: 0 20px;
  background: #fff;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.3);
}

